<!DOCTYPE html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <title>Задачник</title>
</head>
<body>
<div class="container" ng-controller="myController">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Главная</a>
                </li>
                <li class="nav-item" ng-show="!isUserLoggedIn()">
                    <form class="align-middle" ng-submit="tryToAuth()">
                        <div class="input-group input-group-sm" style="...">
                            <input id="navLoginField" class="form-control" ng-model="user.username" type="text"
                                   aria-describedby="inputGroup-sizing-sm" style="...">

                            <input id="navPasswordField" class="form-control" ng-model="user.password" type="password"
                                   aria-describedby="inputGroup-sizing-sm" style="...">
                            <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"
                                    style="..." type="submit">Войти
                            </button>
                        </div>
                    </form>
                </li>
                <li class="nav-item" ng-show="isUserLoggedIn()" style="...">
                    <button class="btn btn-outline-secondary btn-sm" ng-click="tryToLogout()">Выйти
                    </button>
                </li>
            </ul>
        </div>

    </nav>


    <h3>Задача</h3>
    <div class="row align-items-start">
        <div class="col" >
            <li class="nav-item" ng-show="isUserLoggedIn()">
                <form class="align-middle" ng-submit="createTicket()">
                        <div class="mb-3">
                            <label for="newTicketTitle" class="form-label"  >Новая задача</label>
                        <input id="newTicketTitle" class="form-control" ng-model="ticket.nameTicket" type="text"
                               aria-describedby="inputGroup-sizing-sm" style="...">
                    </div>

                    <div class="mb-3">
                        <label for="newTicketComment" class="form-label">Описание</label>
                        <textarea class="form-control" id="newTicketComment" rows="3" ng-model="ticket.textTicket"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Приоритет</label>
                        <select class="form-select" id="inputGroupSelect01" ng-model="ticket.priorityTicket">
                            <option selected>Выбрать...</option>
                            <option ng-repeat="priority in priorities" value="{{priority.id}}">{{priority.name}}</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect02">Трекер</label>
                        <select class="form-select" id="inputGroupSelect02" ng-model="ticket.trackerTicket">
                            <option selected>Выбрать...</option>
                            <option ng-repeat="tracker in trackers" value="{{tracker.id}}">{{tracker.title}}</option>
                        </select>
                    </div>

                    <button id="newTicketSubmit" class="btn btn-outline-warning btn-sm"
                                style="..." type="submit">Создать
                        </button>
                </form>
            </li>
        </div>
    <div class="col">
        <table class="table table-hover" cellpadding="0" cellspacing="0">
            <thead class="bg-success p-2 text-dark bg-opacity-50">
            <tr>
                <td>ID</td>
                <td>Название</td>
                <td>Описание</td>
                <td>Статус</td>
                <td>Приоритет</td>
            </tr>
                </thead>
                <tbody>
                <tr ng-repeat="s in ticketList" >
                    <td ng-model="ticket.id">{{s.id}}</td>
                    <td>{{s.nameTicket}}</td>
                    <td>
                        {{s.textTicket}}
                            <div>
                                <br>
                                <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="loadAllComment()" data-target="#exampleModalLong" >
                                    Посмотреть комментарии
                                </button>
                                <br>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                     Добавить комментарии
                                </button>
                            </div>

                    </td>
                    <td class="status">
                        <div class="input-group-status">
                            <select class="form-select" id="inputGroupStatus" ng-model="ticket.statusTicket" ng-change="updateTicketStatus()">
                                <option selected>Выбрать...</option>
                                <option ng-repeat="status in statuses" value="{{status.id}}">{{status.title}}</option>
                            </select>
                        </div>
                    </td>
                    <td>{{s.priorityTicket}}</td>
                </tr>
                </tbody>
            </table>
    </div>
    </div>
</div>

<!-- Просмотр комментарий -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" ng-repeat="s in commentList">
                {{s.textComment}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="createComment()">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Header:</label>
                        <input type="text" class="form-control" id="recipient-name" ng-model="comment.header">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text" ng-model="comment.text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Send message</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
