body{
}

    .status{
        width: fit-content;
    }
    .input-group-status{
        width: fit-content;
    }
    .form-select{
        width: 140px;

    }
    .box{
        width: 300px;
        height: 100px;
        overflow: scroll;
    }

 .hidden-description {
     display: none;
     margin-top: 10px;
 }

.show {
    display: block;
}

.comment-input {
    margin-top: 10px;
    width: 100%;
}

.comment-button {
    margin-top: 5px;
}

